<body> 
  <div class="container">
    <h2>Login</h2>
    <form >
      <div class="input">
        <input class="user" type="text" placeholder="username" minlength="5">
        <input class="password" type="text" placeholder="password" minlength="8">
      </div>
      <div class="button">
        <button class="btn-submit" type="submit" >login</button>
      </div>
    </form>
  </div>
  

<div class="navbar">
  <a class="active" href="#home">Home</a>
  <a href="#about_us">About Us</a>  
  <div class="dropdown">
    <button class="dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>
        <img  src="./assets/user.png" height="45" class="dropbtn" >
      </span>
      <span class="caret"></span>
    </button>
    <div class="dropdown-content">
      <a href="#">Profile</a>
      <a href="#">Setting</a>
    </div>
  </div> 
</div>

<!--  <div class="navbar">
    <a class="active" href="#home">Home</a>
    <a href="#about_us">About Us</a>
    <ul>
      <li class="wrap">
        <div class="logo-image">
          <img  src="./assets/user.png" height="45" class="dropbtn" >
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </li>
  </ul>
</div> -->


</body>